@media (max-width: 1000px) {
  .page001 {
    flex-direction: column;
    align-items: center;

    justify-content: center;
  }
  .mass img {
    width: 90%;
  }
  .page4 {
    height: 180vh;
  }
  .power {
    width: 150%;
  }

  .text H2 {
    width: 80%;
  }
  .text {
    margin-left: 15%;
    justify-content: center;
  }
  .fff {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 5%;
  }

  .mainimg1 {
    margin-top: 5%;
    margin-inline: 0%;
    position: relative;
    width: 50%;
  }
  .IMG1 {
    display: flex;
    justify-content: center;
  }
  .text P {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
  }
  .page2 {
    height: 120vh;
  }
  .line1 {
    display: none;
  }
}
@media (max-width: 950px) {
  .page2 {
    height: 90vh;
  }
}
@media (max-width: 880px) {
  .nav1 {
    width: 100%;
    gap: 50%;
    position: fixed;
  }
  .page002 {
    flex-direction: column;
    align-items: center;
  }
  .power {
    width: 100%;
  }
  .mass img {
    width: 55%;
    display: flex;

    align-items: center;
  }
  .page2 {
    height: 120vh;
    width: 100%;
  }

  .text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .power span h2 {
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin-top: 3%;
  }
  .page3 {
    height: 130vh;
  }
  .nav1 ul {
    display: none;
  }
}
@media (max-width: 660px) {
  .page4 {
    height: 260vh;
  }
}
@media (max-width: 530px) {
  .page3 {
    height: 150vh;
  }
  .nav1 {
    gap: 20%;
  }
  NAV {
    width: 80%;
  }
  .page4 {
    height: 260vh;
  }
  .pg4box {
    width: 90%;
  }
  footer {
    gap: 10%;
  }
}
