@media (max-width: 1000px) {
  .nav1 ul {
    display: none;
  }
  .nav1 nav {
    gap: 45%;
  }
  .thumb::after {
    margin-top: -5%;
    margin-left: 3%;
  }
  .cool {
    height: 250vh;
  }
  .page2 {
    height: 130vh;
  }
  .page4 {
    height: 250vh;
  }
  .page7 footer {
    gap: 40%;
  }
}
@media (max-width: 950px) {
  .bigboys {
    flex-direction: column;
  }
  .nav1 {
    width: 100%;
  }
  .page6 {
    height: 300vh;
  }
  .bigbox {
    width: 90%;
    height: 130vh;
    margin-inline: 5%;
  }
}
@media (max-width: 850px) {
  .content1 {
    display: block;
  }
  .thumb img {
    width: 80%;
  }
  .page1 {
    height: 230vh;
  }
  .content2 {
    flex-direction: column;
  }
  .nav1 nav {
    gap: 30%;
  }
  .thumb::after {
    margin-top: -6%;
    margin-left: 3%;
  }
  .pg1img2 {
    display: none;
  }
  .page2 {
    height: 180vh;
  }
  .cool {
    height: 600vh;
  }
  .cards {
    width: 100%;
    height: 60vh;
  }
  .cool1 {
    width: 120%;
  }
  .cool1 h2 {
    width: 100%;
  }
  .cool1 p {
    width: 80%;
  }
  .page4 {
    height: 450vh;
  }
  .page3 {
    flex-direction: column;
  }
  .page3 {
    height: 200vh;
  }

  .nav1 nav .llo img {
    width: 70%;
  }
  .pg7box h1 {
    font-size: 40px;
  }
  .pg7box {
    height: 70vh;
  }
}
@media (max-width: 650px) {
  .nav1 nav {
    gap: 10%;
  }

  .thumb {
    width: 60px;
    border-radius: 800px;
  }
  .thumb::after {
    margin-top: -7%;

    margin-left: 4%;
  }
}
@media (max-width: 500px) {
  .nav1 nav {
    gap: 0%;
  }
  .page5 tr td div p {
    width: 100%;
  }
  .page5 tr {
    padding-block: 20%;
  }
  table {
    width: 70%;
  }
  table tr {
    width: 70%;
  }
  .page5 td {
    padding-block: 10%;
    width: 100%;
  }
  .page5 td p {
    width: 50%;
  }

  .thumb {
    width: 60px;
    border-radius: 800px;
  }
  .thumb img {
    width: 80%;
  }

  .nav1 nav .llo img {
    width: 50%;
  }
  .thumb::after {
    margin-top: -7%;
    width: 100px;
    z-index: 1234;
    margin-left: 7%;
  }
}
@media (max-width: 400px) {
  .nav1 nav {
    gap: 0%;
  }
  .thumb {
    width: 40px;
    border-radius: 800px;
  }
  .thumb img {
    width: 60%;
  }
  table {
    width: 80%;
  }
  table tr {
    width: 70%;
  }

  .nav1 nav .llo img {
    width: 50%;
  }
  .thumb::after {
    margin-top: -7%;
    width: 70px;
    z-index: 1234;
    margin-left: 5%;
  }
}
@media (max-width: 350px) {
  table {
    width: 100%;
  }
  tr {
    width: 60%;
  }
  .page5 td {
    padding: 5%;
  }
}
