* {
  margin: 0;
  box-sizing: border-box;
  padding: 0%;
  font-size: 15px;
  font-family: sans-serif;
  color: #514949;
}
.page1 {
  background-image: url(hero-bg.svg);
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.f {
  width: 70%;
  font-size: 18px;
  text-align: center;
}
.f a {
  font-size: 18px;
}
.page1 a {
  color: #e7332b;
}
.page1 div img {
  width: 150px;
}
.page1 div {
  display: flex;

  flex-direction: column;
  align-items: center;
}
.page1 nav div img {
  width: 200px;
}
.page1 h2 {
  display: flex;
  justify-content: center;
}

.page1 h2 {
  color: #514949;
  margin-top: 8%;
  font-size: 30px;
  margin-bottom: 5%;
}

.pg1btn a {
  text-decoration: none;
}
.pg1btn {
  display: flex;
  justify-content: center;

  gap: 30px;
}
@media (max-width: 550px) {
  .pg1btn {
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .pg1btn a {
    width: 300px;
  }
}
.pg1btn a {
  padding: 15px;
  width: 250px;
  margin-top: 8%;
}
.pg1btn :nth-child(1) {
  background-color: #e7332b;
  border: none;
  color: white;
  transition: 0.5s;
}
.pg1btn :nth-child(2) {
  background-color: white;
  border: 1px solid#e7332b;
  color: #e7332b;
  transition: 0.5s;
}
/* page2 */
.page2 {
  background-color: white;
  position: absolute;

  z-index: -2;
  width: 100%;
  height: 100vh;
}
.page3 {
  background-color: white;
  position: absolute;
  display: flex;
  z-index: -2;
  gap: 15%;
  width: 100%;
  height: 30vh;
  margin-top: 100vh;
}
.body {
  position: absolute;
  width: 20%;
  margin-top: -10%;
}
.v1 {
  margin-left: 0%;
  z-index: -1;
}

.v2 {
  margin-left: 80%;
  margin-top: -50%;
  z-index: -1;
}
/*  page 2 boxex */
.display {
  display: flex;
  gap: 3%;
  margin-inline: 3%;
}
.box IMG {
  margin-block: 40px;
  margin-left: 25px;
  z-index: 1234;
}
.biggerbox p {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
}
.biggerbox a {
  color: #e7332b;
  margin-top: 20px;
  text-decoration: none;
}
.biggerbox a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.biggerbox {
  width: 30%;
  height: 70vh;

  background-color: #fffafa;
}
.biggerbox p {
  margin-inline: 25px;
  font-size: 16px;
}
footer {
  background-color: white;
  width: 100%;
  margin-top: 130vh;
  height: 10vh;
}
/*  page 2 boxex end  */
/* page2 end */

.page3 div h3 {
  font-size: 30px;
}
.p3 {
  display: block;
}
.icon img {
  width: 20px;
}
#p32 {
  display: flex;

  flex-direction: column;
}
#p32 a {
  color: #e7332b;
  margin-block: 5px;
  text-decoration: none;
}

.p3 a {
  color: #e7332b;
  margin-block: 5%;
  text-decoration: none;
}
@media (max-width: 750px) {
  .display {
    flex-direction: column;
    gap: 10%;
  }

  .biggerbox {
    width: 100%;
    margin-bottom: 10%;
    height: 100vh;
  }
  .biggerbox p {
    font-size: 18px;
  }
  .biggerbox a {
    font-size: 25px;
  }
  .box {
    width: 100%;
  }
  footer {
    margin-top: 410vh;
  }
  .page3 {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 350vh;
  }
}
@media (max-width: 1000px) {
  .biggerbox {
    height: 80vh;
  }
}
